    <footer>
        <p>Todos los derechos reservados</p>
        <p> Trabajo presentado por:</p>
        <p>Jorge Eduardo Salazar Polanía<br>
        Edisson Velandia Guerra<br>
		Nubia Perea Paredes</p>
    </footer>
</body>
</html>