<!DOCTYPE html>
<html>
<head>
    <title>Segunda entrega curso NodeJS</title>
    <link href="css./style.css" rel="stylesheet" type="text/css">

</head>
<body>
    <header>
        <h1>SISTEMA DE INSCRIPCION DE CURSOS DE EDUCACION CONTINUA</h1>
        <a href="/">Inicio</a> <br>
        <a href="/crearCurso">Crear cursos</a> <br>
        <a href="/verCursosDisponibles">Ver cursos disponibles</a> <br>
        <a href="/inscribirse">Inscribirse en curso</a> <br>
		<a href="/verCursosAdministrador">Ver cursos como administrador</a> <br>
		<br>
    </header>