body {
    color: #grey;
    font-family: arial;
    min-height:100vh
}

footer {
    color: red;
    border-top: 2px solid red;
    margin-top:16px   
}

header {
    margin-top: 16px;
    margin-top: 48px;
	background-color: pink;
}

h1 {
    font-size:48px;
    margin-bottom: 16px
}